.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content {
    float: left;
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .content {
        width: 50%;
    }
    .container {
        max-width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
}