div,input,textarea {
    box-sizing: border-box;
}

.form-background {
    background: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

textarea.form-input {
    resize: none;
    height: 200px;
}

.yellow-button {
    padding: 10px;
    float: right;
    background: yellow;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    font-size: 16px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.both {
    clear: both;
}