@font-face {
    font-family: 'nanumsquare';
    src: url(../font/NanumSquareB.woff);
}

* {
    transform: rotate(0.03deg)
}

.main-background {
    width: 100%;
    height: 1000px;
    background-image: url(../shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    /*
     margin collapse 현상 방지
     
     margin collapse란?
     두 개의 박스의 테두리가 겹쳤을 때
     두 박스의 margin이 합쳐지는 현상을 말한다.
     이를 방지하기 위해 padding을 1px를 줘서
     안쪽에 여백이 생기므로 테두리가 붙어있지 않게 되고
     margin collapse 현상이 발생하지 않는다.
    */

    position: relative;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.main-text-container {
    width: 20%;
    padding: 20px;
    margin-left: 5px;
    background-color: rgba(255, 0, 0, 0.5);
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-text {
    font-size: 16px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buy-btn {

    /*
        position에는 4가지가 있다.
        static, relative, absolute, fixed
        static은 기본값이다
        relative는 기존 좌표에서 좌표이동이 가능하다
        fixed는 내가 보는 화면을 기준으로 좌표이동한다 (스크롤 시 같이 움직인다).
        absolute는 부모 중 relative 속성을 가진 부모를 기준으로 좌표이동한다.
    */

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;

    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.flex-item {
    width: 100px;
    height: 100px;
    background: gray;
    margin: 5px;
}

.navbar {
    display: flex;
    padding: 10px;
    background-color: purple;
    height: 50px;
    align-items: center;
}

.nav-text {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.gr-1 {
    flex-grow: 1;
}

.test-container {
    width: 500px;
    height: 500px;
    background-color: gray;
    padding: 20px;
    text-align: center;

    margin: 0 auto;
}

.pseudo::before {
    content: '안녕하세요';
    color: red;
    font-size: 30px;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container::after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.content {
    float: left;
    width: 25%;
    text-align: center;
}

input[type='file']::-webkit-file-upload-button {
    background-color: skyblue;
    border: none;
}

input::-webkit-input-placeholder {
    color: red;
}

input[type="range"] {
    appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 80px;
    height: 50px;
    background-color: blue;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: red;
    width: 50px;
    height: 50px;
}

progress {
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background: linear-gradient(to top right, blue, lightgrey);
    border-radius: 10px;
}