.navbar {
    padding: 0 10px;
    padding-top: 10px;
    background-color: purple;
    height: 50px;
}

.nav-text:nth-child(1) {
    float: left;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-text:nth-child(2), .nav-text:nth-child(3), .nav-text:nth-child(4) {
    float: right;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}